<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MessangerModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.MessangerModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IChatService" />
        <binding name="WSDualHttpBinding_IClientService" />
        <binding name="WSDualHttpBinding_IContactService" />
        <binding name="WSDualHttpBinding_IChatMemberService" />
        <binding name="WSDualHttpBinding_IMessageService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57767/Service.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IChatService"
        contract="MessangerServices.IChatService" name="WSDualHttpBinding_IChatService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:57767/Service.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IClientService"
        contract="MessangerServices.IClientService" name="WSDualHttpBinding_IClientService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:57767/Service.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IContactService"
        contract="MessangerServices.IContactService" name="WSDualHttpBinding_IContactService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:57767/Service.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IChatMemberService"
        contract="MessangerServices.IChatMemberService" name="WSDualHttpBinding_IChatMemberService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:57767/Service.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMessageService"
        contract="MessangerServices.IMessageService" name="WSDualHttpBinding_IMessageService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>